# Gradle
.gradle/
build/
target/
*.class
*.jar
*.log

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Windows
Thumbs.db

# Vim
*.swp
*.swo
*.tmp

# patch
*.orig
*.rej

# Local environment
.env*

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
